{
  "project_info": {
    "project_number": "921130967436",
    "project_id": "workouts-67e5d",
    "storage_bucket": "workouts-67e5d.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:921130967436:android:REPLACE_WITH_FIREBASE_CONSOLE_HASH",
        "android_client_info": {
          "package_name": "com.fitproject.droid"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyDcR92CtVhDqtxeEGRu_8JGuGw2UicjQQ0"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}